.DS_Store
.idea/
__pycache__/
venv/
media/
logs/
tests/
logs/debug.log
account/migrations
auth_shop/migrations
chat/migrations
offer/migrations
places/migrations
temp_offer/migrations
temp_shop/migrations