.DS_Store
.idea/
__pycache__/
venv/
media/
logs/
tests/
logs/debug.log
account/migrations
chat/migrations
temp_shop/migrations
auth_shop/migrations
temp_offer/migrations
offer/migrations
cart/migrations
order/migrations
ratings/migrations
places/migrations