<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Nouveau articles référencés.</title>
</head>
<body>
  <main>
    {% for key, value in articles.items() %}
      <a href="{{front_domain}}/shop/{{key}}">Shop : {{key}}</a>
      {% for i in value %}
        <a href="{{front_domain}}/shop/{{key}}/article/{{i}}">Lien Article.</a>
      {% endfor %}
      <div>---------------------------------------------------------------------------</div>
      <br/>
    {% endfor %}
  </main>
</body>
</html>